---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob('../pages/posts/*.md'); //Puede extraer todos los archivos con esa extensión en un arreglo.
const pageTitle = 'Acerca de mi';
---

<BaseLayout pageTitle={pageTitle}>
    <h1>Sobre mi</h1>
        <h2>Mi blog de Astro aprendizaje</h2>
        <p>Aquí es donde publicaré sobre mi viaje de aprendizaje de Astro.</p>
        <ul>
            {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
        </ul>
</BaseLayout>